body {
    font-family: sans-serif;
    
}
h1 {
   color:  #FFD300;
    text-align: center;
    font-size: 96px;
   
}
h1:hover {
   color:  #FFD300;
    text-align: center;
    font-size: 96px;
    text-shadow: 5px 5px 10px black;
    
}
p {
    font-size: 25px;
    background-image: linear-gradient( to right, #FF4900, #FFB100);
    border-radius: 10px;
    padding: 5px 0px 5px 2px;

}
header {
    padding: 40px 0px 40px 25px;


}
ul {
    font-size: 23px;
    color: #FF9A00	;
}
li:hover {

    font-size: 25px;
}
.link-header {
    background-image: linear-gradient(to right, #FF4900, #FFB100	);
    font-size: 36px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    text-decoration: none;
}
.link-header:hover {
    color: white;
    font-size: 36px;

}

.text-big {
    text-align: center;
    font-size: 23px;
    color: orange;
   }
main {
    border: 5px solid orange;
    border-radius: 10px;

  }
nav {
    padding: 35px  40px  0px  40px;


}
.link-nav {
    color: black;
    font-size: 24px;
    margin-right: 35px;
    text-decoration: none;
}
a {
    font-size: 20px;
    color: blueviolet;


}
a:hover {
    font-size: 25px;
    color: blue;


}
footer {
    color: #FF7400;
    font-size: 25px ;
    border: 4px solid orange;
    border-radius: 10px;
    padding: 5px;
    }
footer p {
    font-size: 25px;
   color: black;
    
}
main img {
    width: 400px;
    height: 400px;
    position: relative;
    left: 190px;
    bottom: 10px;
}
h2 {
    color: orange


}
